*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    padding-top: 66px;
    padding-bottom: 320px;
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
    color: #fff;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

