.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 15px;
    background-color: #23202b;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 15px);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 75px;
    height: 75px;
    background-color: salmon;
    box-shadow: inset 0px 0px 0 4px #23202b;
    border-radius: 50%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNZI3aN5iuKXZ6-SweTirJYek6nYUI3rpwNw&usqp=CAU);
    background-size: cover;
    outline: none;
    border: none;
}




