.player-card__img {
    position: relative;
    left: -250px;
    width: 250%;
}

@media (min-width: 750px) {

    .player-card__img {
        left: -400px;
        width: auto;
        height: 600px;
    }
}